---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.vue';
import LandingGrid from '../components/LandingGrid.vue';
---

<Layout title="Impro Impact">
  <main>
    <Hero title={'Impro Impact'}>
      <LandingGrid />
    </Hero>
  </main>
</Layout>
